<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4 title">Sobre nosotros</h1>
        <p class="lead text-muted mb-0 title2">
          Pide Cerca conecta vendedores comunitarios (tiendas de barrio,
          vendedores informales, etc), con su comunidad, facilitando la
          adquisición por medio de domicilios.
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <img src="../images/illus_kftyh4.png" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<section class="pb-5">
  <div class="container">
    <h2 class="display-3 title">Nuestro Equipo</h2>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="../images/daniel.jpg"
                      alt="daniel"
                    />
                  </p>
                  <h4 class="card-title">Daniel Gonzalez</h4>
                  <p class="card-text">Developer.</p>
                  <a
                    href="https://www.fiverr.com/share/qb8D02"
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Daniel Gonzalez</h4>
                  <p class="card-text">
                    Hola soy Daniel González, de Bogotá ingeniero de sistemas y
                    desarrollador web. Gusto por el fútbol, deportes extremos,
                    documentales de historia y la comida italiana.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.facebook.com"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.twitter.com"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.instagram.com"
                      >
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="../images/david.jpg"
                      alt="david"
                    />
                  </p>
                  <h4 class="card-title">David Rodríguez</h4>
                  <p class="card-text">Developer Leader.</p>
                  <a
                    href="https://www.fiverr.com/share/qb8D02"
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">David Rodríguez</h4>
                  <p class="card-text">
                    Hola soy david Rodriguez analista desarrollador de software,
                    estudiante de 5 semestre de ingeniera de software, puedes
                    ver mi portafolio de trabajo en estos enlaces:
                  </p>
                  <a href="https://github.com/derpito8909"
                    ><i class="fa fa-github"></i
                  ></a>
                  <a href="https://gitlab.com/drodriguezpi"
                    ><i class="fa fa-gitlab"></i
                  ></a>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.facebook.com/davisito544"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://twitter.com/drodriguezpi"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.instagram.com/davisitoer/"
                      >
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="../images/guillermo.jpg"
                      alt="guillermo"
                    />
                  </p>
                  <h4 class="card-title">Guillermo Acosta</h4>
                  <p class="card-text">Scrum Master.</p>
                  <a
                    href="https://www.fiverr.com/share/qb8D02"
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Guillermo Acosta</h4>
                  <p class="card-text">
                    Hola soy Guillermo ,Bogotano con experiencia en gestión IT,
                    cocinero amateur comida favorita de mar y fervoroso
                    entusiasta del aprendizaje de tiempo completo partiendo de
                    la base en Tecnologías y programación de computadores.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.facebook.com"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.twitter.com"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.instagram.com"
                      >
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="../images/santiago.jpg"
                      alt="santiago"
                    />
                  </p>
                  <h4 class="card-title">Santiago Marquez</h4>
                  <p class="card-text">Product Owner.</p>
                  <a
                    href="https://www.fiverr.com/share/qb8D02"
                    class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Santiago Marquez</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.This is basic card with image on top, title,
                    description and button.This is basic card with image on top,
                    title, description and button.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.facebook.com"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.twitter.com"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.instagram.com"
                      >
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
    </div>
  </div>
</section>
