.menu-top {
    background-color: #031D44;
    color: white;
}

#map {
    height: 540px;
    width: 100%;
}

.menu-mitad {
    height: 80px;
    background-color: whitesmoke;
    border-radius: 15px;
}

h3 {
    text-align: center;
    font-style: italic;
}