<footer class="bg-blue d-main-footer font-text color-text mt-3">
  <div class="container mt-auto py-3">
    <div class="row justify-content-center mb-2">
      <div class="col-auto"><a routerLink="contactanos">Contáctenos</a></div>
      <div class="col-auto"><a routerLink="nosotros">Sobre nosotros</a></div>
    </div>
    <hr />
    <div class="row justify-content-center mb-2">
      <div class="col-auto">
        <a href="#" class="text-light">
          <i class="fab fa-youtube-square fa-2x rounded-circle"></i>
        </a>
      </div>
      <div class="col-auto">
        <a href="#" class="text-light">
          <i class="fab fa-twitter-square fa-2x"></i>
        </a>
      </div>
      <div class="col-auto">
        <a href="#" class="text-light"
          ><i class="fab fa-instagram-square fa-2x"></i
        ></a>
      </div>
    </div>
    <div class="row justify-content-center mb2">
      <div class="col-auto">
        <span class="">© 2020 Todos los derechos reservados.</span>
      </div>
    </div>
  </div>
</footer>
