<div class="pt-4 pt-md-11">
  <div class="container">
    <div class="row ">

      <div class="col-12 col-md-5 col-lg-6 order-md-2 m-auto">

        <h1 class=" display-4 text-center ">Bienvenidos a Pide Cerca</h1>
        <h3 class="text-center">Para comprar tus productos de tu barrio</h3>
        <div class="myform form py-5">
          <div class="title py-3">
            <h1>Registrate</h1>

          </div>
          <hr class="hr-or">
          <form action="#" class="title2">
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control bord" id="nombre" name="nombre" placeholder="Nombre" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control bord" id="apellido" name="apellido" placeholder="Apellido"
                  required>
              </div>

              <div class="form-group col-sm-6">
                <label for="direccion"> Dirección</label>
                <input type="text" class="form-control bord" id="direccion" name="direccion" placeholder=" Dirección">
              </div>
              <div class="form-group col-sm-6">
                <label for="tel">Teléfono</label>
                <input type="number" class="form-control bord" id="tel" name="tel" placeholder="Teléfono">
              </div>
            </div>

            <div class="form-group col-md-6" style="padding-left: 0;">
              <label for="byear">Ingrese su Año de Nacimiento</label>
              <input class="form-control bord" type="date" id="byear" name="byear">
            </div>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label for="correo">Correo electrónico</label>
                <input type="email" class="form-control bord" id="correo" name="correo" placeholder="Ingrese su correo"
                  required>
              </div>
              <div class="form-group col-sm-6">
                <label for="confCorreo">Confirme su correo</label>
                <input type="email" class="form-control bord" id="confCorreo" name="confCorreo"
                  placeholder="Ingrese su correo" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="contr">Contraseña</label>
                <input type="password" class="form-control bord" id="contr" name="contr"
                  placeholder="Ingrese su contraseña" required>
              </div>
              <div class="form-group col-sm-6">
                <label for="confContr">Confirme su contraseña</label>
                <input type="password" class="form-control bord" id="confContr" name="confContr"
                  placeholder="Ingrese su contrasena" required>
              </div>
            </div>
            <div class="col-md-12">
              <div class="login-or">
                <hr class="hr-or">
                <span class="span-or">o</span>
              </div>
            </div>
            <div class="form-group">
              <p style="text-align: center;">
                <a href="./login.html" id="signup">Ya tienes una cuenta?</a>
              </p>
            </div>
          </form>

        </div>
      </div>

    </div>
    <div class="row align-items-center my-5">

      <div class="col-12 col-md-5 col-lg-6 order-md-2">
        <img src="./assets/images/tendero.jpg" alt="tenderos" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0">
      </div>
      <div class="col-12 col-md-5 col-lg-6 order-md-1 text-center">
        <p class="lead text-center text-md-left mb-6 mb-lg-8 font-text">Dadas las contingencias
          presentadas actualmente en el mundo, muchas personas se han visto obligadas a estar
          resguardadas en sus hogares, impidiendo la adquisición de productos y servicios al
          detal
          que solían obtener en tiendas
        </p>
        <p class="lead text-center text-md-left mb-6 mb-lg-8 font-text">
          El objetivo de pide cerca es conectar vendedores comunitarios (tiendas de barrio,
          vendedores informales, etc), con su comunidad, facilitando la adquisición por medio
          de
          domicilios.
        </p>

      </div>
    </div>
  </div>
  <div class="pt-4 pt-md-11">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-5 col-lg-6 order-md-1 text-center">
          <img src="./assets/images/tiendas.jpeg" alt="tiendas" class="img-fluid  mw-md-150 mw-lg-130 mb-6 mb-md-0">
        </div>
        <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
          <h2 class="text-center text-md-left font-text">tiendas</h2>
          <p class="lead text-center text-md-left mb-6 mb-lg-8 font-text">
            puede escoger una variedad de tiendas vecinas

          </p>
          <a class=" lead color-blue stretched-link font-text" href="./assets/pages/productos.html">
            explore más tiendas
            -></a>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-4 pt-md-11">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
          <img src="./assets/images/producto.jpg" alt="tiendas" class="img-fluid w-50 mw-md-150 mw-lg-130 mb-6 mb-md-0">
        </div>
        <div class="col-12 col-md-5 col-lg-6 order-md-1 text-center">
          <h2 class="text-center text-md-left font-text">productos</h2>
          <p class="lead text-center text-md-left mb-6 mb-lg-8 font-text">
            puede escoger una variedad de productos de diferentes marcas y categorias
          </p>
          <a class=" lead color-blue stretched-link font-text" href="./assets/pages/productos.html">
            explore más productos
            -></a>
        </div>
      </div>
    </div>
  </div>

</div>
